.footer {
    display: none;
    align-items: center;
    justify-content: center;
    background: var(--color-bg-footer);
    padding: 11px;
    width: 320px;

    &__link {
        font-size: 0.875rem;
        line-height: 1.3;
        color: var(--color-text);
    }

    &__icon {
        margin: 0 22px;
    }
}