.button {
    font-family: 'OpenSansRegular', sans-serif;
    font-size: rem(14px);
    background: #00B05A;
    border-radius: 5px;
    padding: 7px 20px;
    min-width: 146px;
    min-height: 35px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
        box-shadow: 0 0 3px #00B05A;
    }

    &--form {
        font-family: 'OpenSansBold';
        text-transform: uppercase;
        letter-spacing: .025em;
    }
}