.secondary-headline {
    font-size: rem(30px);
    color: #1B3B54;
    text-transform: uppercase;
    padding: 0 20px;
    background: #fff;
    display: inline;

    &::before {
        content: '';
        width: 100%;
        background: #D5D5D5;
        height: 1px;
        z-index: -1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }

    &--advantages {
        background: #E9F0F6;
    }

    &--description,
    &--product {
        &::before {
            display: none;
        }
    }

    &--product-main,
    &--review,
    &--contact {
        font-size: rem(36px);
    }
}