$white: #ffffff;
$black: #000000;
$black-light: #323231;
$gray: #e6e5e9;
$gray-light: #c0c0c0;
$gray-light2: #a6a6a7;
$gray2: #969696;
$pink: #fda8ab;
$pink-dark: #f88d9a;
$pink-light: #fcc2c3;
$pink-dark2: #f55683;

$root-font-size: 16px;
$font-size-main: 15px;

$ff-navtop: 'TimesNewRomanRegular';
$ff-navbottom: 'TrebuchetMS';
$ff-h1: 'TimesNewRomanRegular';
$ff-h1-subtitle: 'TrebuchetMSItalic';
$ff-h2: 'TimesNewRomanRegular';
$ff-h2-accent: 'TimesNewRomanItalic';
$ff-h2-subtitle: 'DINMittelschriftStd';
$ff-h2-subtitle2: 'TrebuchetBoldItalic';
$ff-logo: 'SerlioLTStd';
$ff-logo-pre: 'RockwellRegular';
$ff-text: 'TrebuchetMS';
$ff-button: 'KievitProBold';
$ff-main: 'TrebuchetMS';
$ff-article-list: 'ArialItalic';


$fsz-logo: 50px;
$fsz-logo-pre: 14px;
$fsz-navtop: 18px;
$fsz-navbottom: 14px;
$fsz-h1: 48px;
$fsz-h1-subtitle: 14px;
$fsz-button: 12px;
$fsz-h2: 48px;
$fsz-h2-subtitle: 12px;
$fsz-h2-subtitle2: 12px;
$fsz-text: 14px;
$fsz-text2: 12px;
$fsz-h2-content-block: 20px;

$color-navtop: $black-light;
$color-navtop-bg: $gray;
$color-navbottom: $gray2;
$color-logo: $black-light;
$color-logo-pre: $gray-light2;
$color-h1: $white;
$color-h1-subtitle: $white;
$color-button: $white;
$color-button-bg: $pink-dark2;
$color-h2: $gray-light;
$color-h2-accent: $black-light;
$color-h2-subtitle: $pink-light;
$color-h2-subtitle2: $pink-dark;
$color-text: $gray2;


  

