$color-white: #ffffff;
$color-black: #000000;
$color-gray: #ADADAD;
$color-red: #EA5A4B;
$color-black-light: #1c1c1c;
$color-gray-dark: #3B3B3B;


$root-font-size: 16px;
$font-size-main: 15px;

$HelveticaRoman: "HelveticaNeueCyrRoman";
$HelveticaMedium: "HelveticaNeueCyrMedium";
$HelveticaBold: "HelveticaNeueCyrBold";
$BitterRegular: "BitterRegular";
$BitterBold: "BitterBold";




