.footer {
    &__top {
        background-color: $color-footer-bg;
        padding: 30px 0;
    }

    &__top-img {
        width: 107px;
        height: 107px;
    }

    &__bottom {
        background: $color-footer-bg2;
        color: $color-copyright;
        font-size: rem($fsz-copyright);
    }

    &__bottom-list {
        display: flex;

        li:not(:last-child)::after {
            content: '|';
                padding: 0 15px;
        }

        a {
            color: inherit;
            padding: 10px 5px;
        }
    }

    &__copyright {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__block:nth-child(1) {
        order: 1;
    }

    &__block:nth-child(2) {
        order: 2;
    }

    &__block:nth-child(3) {
        order: 3;
    }

    &__block:nth-child(4) {
        order: 4;
    }

    &__block:nth-child(5) {
        order: 5;
    }

    &__block:nth-child(6) {
        order: 6;
    }


    &__block-header {
        font-family: $ff-footer-headlines, sans-serif;
        font-size: rem($fsz-footer-headlines);
        color: $color-footer-headlines;
        margin-bottom: 17px;
    }

    &__block-list-link {
        font-size: rem($fsz-footer-lists);
        color: $color-footer-list;

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }

    &__socials {
        align-self: start;

        .footer__block-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 10px;
            column-gap: 10px;
        }

        .footer__block-list-link {
            width: 35px;
            height: 35px;
            display: block;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}