.payment {
    background: $color-bg-payment;
   

    &__headline {
        margin-right: 17px;
        font-size: rem(14px);
    }

    &__list {
        display: flex;
    }

    &__item {
        width: 33px;
        height: 25px;
        margin: 0 6px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}