.slider-clothes {
    margin-bottom: 100px;
    
    &__price {
        font-family: $ff-slider-clothes-price, sans-serif;
        font-size: rem($fsz-slider-clothes-price);
        color: $color-slider-clothes-price;
        display: inline-block;
    }

    &__details {
        font-size: rem($fsz-slider-clothes-details);
        color: $color-slider-clothes-details;
    }

    &__headline {
        font-size: rem($fsz-slider-clothes-headline);
        color: $color-slider-clothes-headline;
    }

    &__item {
        outline: none;
    }

    &__headline,
    &__price,
    &__details {
        margin-bottom: 20px;
    }

    .slick-initialized .slick-slide {
        display: flex;
        align-items: center;
    }

    img {
        margin-right: 30px;
        margin-bottom: -30px;
    }

    &__content {
        flex: 0.9;
    }

    &__arrow {
        width: 200px;
        align-self: stretch;
        display: block;
        font-size: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        transition: background-color .3s ease;

        &:hover,
        &:focus {
            background-color: lighten($color:  $color-active, $amount: 10);
        }


        &--left {
            background-image: url("data:image/svg+xml,%3Csvg version='1.1'  fill='gray' id='Layer_1' width='20px' height='30px' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 492 492' style='enable-background:new 0 0 492 492;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M198.608,246.104L382.664,62.04c5.068-5.056,7.856-11.816,7.856-19.024c0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12 C361.476,2.792,354.712,0,347.504,0s-13.964,2.792-19.028,7.864L109.328,227.008c-5.084,5.08-7.868,11.868-7.848,19.084 c-0.02,7.248,2.76,14.028,7.848,19.112l218.944,218.932c5.064,5.072,11.82,7.864,19.032,7.864c7.208,0,13.964-2.792,19.032-7.864 l16.124-16.12c10.492-10.492,10.492-27.572,0-38.06L198.608,246.104z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");

        }

        &--right {
            background-image: url("data:image/svg+xml,%3Csvg version='1.1' fill='gray' width='20px' height='30px' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 492.004 492.004' style='enable-background:new 0 0 492.004 492.004;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12 c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028 c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265 c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        }
    }
}

