.slider-product {
    text-transform: uppercase;
    margin-bottom: 50px;

    &__wrap {
        background-color: $color-slider-product-bg;
        padding: 30px 0;
    }

    &__list,
    &__arrows,
    &__header,
    &__tab {
        display: flex;
        flex-wrap: wrap;
    }

    &__header,
    &__tab {
        justify-content: space-between;
    }

    &__list-item {
        padding: 15px 20px;
        cursor: pointer;
    }

    &__item {
       transition: background-color .3s ease, color .3s ease;
    }

    // &__tab {
    //     width: 1900px;
    // }
}

.tab-active {
    background-color: $color-tab-active-bg;
    color: $color-tab-active;
}

.tab-content-active {
    height: auto;
    opacity: 0;  
}

.tab-content-not-active {
    display: flex !important;
    height: 0px;
    overflow: hidden;
    opacity: 0; 
}


.slider-product button {
    &.slick-arrow {
        width: 50px;
        height: 50px;
        padding: 0;
        box-shadow: none;
        text-indent: -9999px;
        position: absolute;
        top: -80px;
        transition: background-color .4s ease;
    }

    &.slick-prev {
        background-image: url('../images/svg/left.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 40px 40px;
        background-color: $color-slider-product-bg2;
        right: 440px;

        &:hover {
            background-color: darken($color: $color-slider-product-bg2, $amount: 10);
        }
    }

    &.slick-next {
        right: 390px;
        background-image: url('../../images/svg/right.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 40px 40px;
        background-color: $color-tab-active-bg;

        &:hover {
            background-color: darken($color: $color-tab-active-bg, $amount: 10);
        }
    }
}