:root {
    --ff-main: 'MontserratBold';
    --lh-main: 1.5;
    --fsz-main: 100%;

    --color-text: #212121;
    --color-text-reverse: #fff;
    --color-bg--body: #e5e5e5;
    --color-bg--header: linear-gradient(180deg, #428A60 0%, #35734F 100%);
    --color-bg--header-image: #428A60;
    --color-bg-submit-btn: #428A60;
    --color-bg-form: #fff;
    --color-bg-headline: #F8F8F8;
    --color-form-field: rgba(33, 33, 33, .2);
    --color-form-field-border: #E4E4E4;
    --color-form-field-bg: #F8F8F8;
    --color-bg-footer: #F8F8F8;

    --color-success: #428A60;
    --color-danger: #ee3838;
}