/* font-weight helper:

100 Extra Light or Ultra Light;
200 Light or Thin; 300 Book or Demi;
400 Regular or Normal;
500 Medium;
600 Semibold or Demibold;
700 Bold;
800 Black or Extra Bold or Heavy;
900 Extra Black or Fat or Ultra Black */

@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/LatoBold/LatoBold.woff') format('woff'),
        url('../fonts/LatoBold/LatoBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LatoItalic';
    src: url('../fonts/LatoItalic/LatoItalic.woff') format('woff'),
        url('../fonts/LatoItalic/LatoItalic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'LatoRegular';
    src: url('../fonts/LatoRegular/LatoRegular.woff') format('woff'),
        url('../fonts/LatoRegular/LatoRegular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/LatoLight/LatoLight.woff') format('woff'),
        url('../fonts/LatoLight/LatoLight.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}