// font-weight helper:

// 100 Extra Light or Ultra Light;
// 200 Light or Thin; 300 Book or Demi;
// 400 Regular or Normal;
// 500 Medium;
// 600 Semibold or Demibold;
// 700 Bold;
// 800 Black or Extra Bold or Heavy;
// 900 Extra Black or Fat or Ultra Black


//Font-face mixin
@mixin font-face($f-name, $f-style, $f-weight, $f-display, $f-local, $f-path) {
    @font-face {
        font-family: $f-name;
        font-style: $f-style;
        font-weight: $f-weight;
        font-display: $f-display;
        src: local('#{$f-local}'), 
             url('#{$f-path}.woff2') format('woff2'), 
             url('#{$f-path}.woff') format('woff')
    }	
}

@include font-face('Montserrat Extra Light', normal, 100, swap, 'Montserrat Extra Light', '../fonts/MontserratExtraLight/MontserratExtraLight');
@include font-face('Raleway Bold', normal, bold, swap, 'Raleway', '../fonts/RalewayBold/RalewayBold');
@include font-face('Raleway Extrabold', normal, 800, swap, 'Raleway', '../fonts/RalewayExtraBold/RalewayExtraBold');
@include font-face('Raleway Medium', normal, 500, swap, 'Raleway', '../fonts/RalewayMedium/RalewayMedium');
@include font-face('Raleway Regular', normal, 400, swap, 'Raleway', '../fonts/RalewayRegular/RalewayRegular');
@include font-face('Raleway Semibold', normal, 600, swap, 'Raleway', '../fonts/RalewaySemiBold/RalewaySemiBold');


