.form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    background: $color-brown-light;
    transition: all .5s ease;

    &__input,
    &__input-textarea {
        margin: 20px 0;
        padding: 10px;
        border: 1px solid black;
        border-radius: 5px;
        outline: none;
    }

    &__input-textarea {
        resize: none;
    }

    &__btn {
        width: 50%;
        margin: auto;
        border: 1px solid black;
    }

    &__close {
        align-self: flex-end;
        cursor: pointer;

        &:hover {
            .form__close-icon {
                color: $color-brown;
            }
        }
    }

    &__close-icon {
        font-size: rem(60px);
        line-height: 0.5;
        color: $color-white;
        transition: color .3s ease;
    }

}



  
 