.slick-dots {
    display: flex;
    list-style: none;

    li {
        margin: 0 6px;
        text-indent: -99999px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #707070;
        cursor: pointer;

        &:hover {
            background: transparent;
            border: 2px solid #D3C1AD;
        }
    }

    li.slick-active {
        background: transparent;
        border: 2px solid #D3C1AD;
    }
}
