$white: #ffffff;
$black: #000000;
$black-light : #2f302f;
$gray: #a4a4a4;
$gray-light: #f8f8f8;
$gray-light2: #ebebeb;
$gray-dark: #959595;
$gray-dark2: #777777;
$gray-2: #9c9c9c;
$gray-3: #fafafa;


$root-font-size: 16px;
$font-size-main: 15px;

$Roboto: "Roboto";
$RobotoL: "RobotoLight";
$RobotoM: "RobotoMedium";
$RobotoB: "RobotoBold";
$RobotoTh: "RobotoThin";
$Lato: "LatoRegular";
$PTSerif: "PTSerifBoldItalic";

$ff-main: $Roboto;
$ff-quote: $PTSerif;
$color-text: $gray-dark2;
$color-text-copy: $gray-2;
$color-text-range: $black-light;
$color-range: $gray-light2;
$color-icons: $gray-dark2;
$color-active: $black;
$color-bg: $gray-3;