$color-white2: #F4F5F8;
$color-white: #ffffff;
$color-black: #000000;
$color-gray-light: #8C8C8C;
$color-black-light: #555555;
$color-brown-light: #C7B299;
$color-brown: #998675;


$root-font-size: 16px;
$font-size-main: 15px;

