.comment {
    text-align: center;
    position: relative;

    &__headline {
        font-family: $RobotoL;
        font-size: rem(20px);
        letter-spacing: 0.2em;
        line-height: 3.75;
        text-transform: uppercase;
    }

    .form__btn {
        margin: 0 auto;
    }
}