.input-range-label {
    font-family: $RobotoB;
    letter-spacing: 0.0025;
    line-height: 0.6;
    color: $color-text-range;
    margin-bottom: 20px;
    display: block;
    line-height: inherit;
}