.footer {
    background: $color-black-light;
    padding: 66px 10px;
    border-top: 10px solid $color-red;
    transform: translateY(-70px);
    position: absolute;
    width: 100%;
    line-height: 1.75;
    z-index: -1;

    &__headline {
        color: $color-white;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__posts-link {
        display: block;
        transition: color .2s linear;
        outline: none;

        &:hover,
        &:focus,
        &:active {
            color: $color-red;
        }
    }

    &__about-text,
    &__posts-link {
        font-family: $HelveticaBold;
        font-size: rem(14px);
        color: $color-gray;
    }

    &__posts-name {
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background: #3B3B3B;
            margin: 15px 0;
        }
    }
}