.webp .header__slider-item:nth-child(1) {
    background: url('../img/@1x/webp/slide1.webp');
}

.no-webp .header__slider-item:nth-child(1) {
    background: url('../img/@1x/slide1.jpg');
}

.webp .header__slider-item:nth-child(2) {
    background: url('../img/@1x/webp/slide2.webp');
}

.no-webp .header__slider-item:nth-child(2) {
    background: url('../img/@1x/slide2.jpg');
}

.webp .header__slider-item:nth-child(3) {
    background: url('../img/@1x/webp/slide3.webp');
}

.no-webp .header__slider-item:nth-child(3) {
    background: url('../img/@1x/slide3.jpg');
}

.webp .header__slider-item:nth-child(4) {
    background: url('../img/@1x/webp/slide4.webp');
}

.no-webp .header__slider-item:nth-child(4) {
    background: url('../img/@1x/slide4.jpg');
}

.webp .header__slider-item:nth-child(5) {
    background: url('../img/@1x/webp/slide5.webp');
}

.no-webp .header__slider-item:nth-child(5) {
    background: url('../img/@1x/slide5.jpg');
}

.webp .header__slider-item:nth-child(6) {
    background: url('../img/@1x/webp/slide6.webp');
}

.no-webp .header__slider-item:nth-child(6) {
    background: url('../img/@1x/slide6.jpg');
}

.webp .header__slider-item:nth-child(7) {
    background: url('../img/@1x/webp/slide7.webp');
}

.no-webp .header__slider-item:nth-child(7) {
    background: url('../img/@1x/slide7.jpg');
}

.webp .header__slider-item:nth-child(8) {
    background: url('../img/@1x/webp/slide8.webp');
}

.no-webp .header__slider-item:nth-child(8) {
    background: url('../img/@1x/slide8.jpg');
}

.webp .header__slider-item:nth-child(9) {
    background: url('../img/@1x/webp/slide9.webp');
}

.no-webp .header__slider-item:nth-child(9) {
    background: url('../img/@1x/slide9.jpg');
}

.webp .header__slider-item:nth-child(10) {
    background: url('../img/@1x/webp/slide10.webp');
}

.no-webp .header__slider-item:nth-child(10) {
    background: url('../img/@1x/slide10.jpg');
}

.webp .header__slider-item:nth-child(11) {
    background: url('../img/@1x/webp/slide11.webp');
}

.no-webp .header__slider-item:nth-child(11) {
    background: url('../img/@1x/slide11.jpg');
}

.webp .header__slider-item:nth-child(12) {
    background: url('../img/@1x/webp/slide12.webp');
}

.no-webp .header__slider-item:nth-child(12) {
    background: url('../img/@1x/slide12.jpg');
}

.webp .header__slider-item:nth-child(13) {
    background: url('../img/@1x/webp/slide13.webp');
}

.no-webp .header__slider-item:nth-child(13) {
    background: url('../img/@1x/slide13.jpg');
}

.webp .header__slider-item:nth-child(14) {
    background: url('../img/@1x/webp/slide14.webp');
}

.no-webp .header__slider-item:nth-child(14) {
    background: url('../img/@1x/slide14.jpg');
}

.webp .header__slider-item:nth-child(15) {
    background: url('../img/@1x/webp/slide15.webp');
}

.no-webp .header__slider-item:nth-child(15) {
    background: url('../img/@1x/slide15.jpg');
}

.webp .header__slider-item:nth-child(16) {
    background: url('../img/@1x/webp/slide16.webp');
}

.no-webp .header__slider-item:nth-child(16) {
    background: url('../img/@1x/slide16.jpg');
}

.webp .header__slider-item:nth-child(17) {
    background: url('../img/@1x/webp/slide17.webp');
}

.no-webp .header__slider-item:nth-child(17) {
    background: url('../img/@1x/slide17.jpg');
}

.webp .header__slider-item:nth-child(18) {
    background: url('../img/@1x/webp/slide18.webp');
}

.no-webp .header__slider-item:nth-child(18) {
    background: url('../img/@1x/slide18.jpg');
}

.webp .header__slider-item:nth-child(19) {
    background: url('../img/@1x/webp/slide19.webp');
}

.no-webp .header__slider-item:nth-child(19) {
    background: url('../img/@1x/slide19.jpg');
}

.webp .header__slider-item:nth-child(20) {
    background: url('../img/@1x/webp/slide20.webp');
}

.no-webp .header__slider-item:nth-child(20) {
    background: url('../img/@1x/slide20.jpg');
}


.webp .header__content--contacts {
    background: url('../img/@1x/webp/slide6.webp');
}

.no-webp .header__content--contacts {
    background: url('../img/@1x/slide6.jpg');
}


.webp .header__content--portfolio {
    background: url('../img/@1x/webp/slide13.webp');
}

.no-webp .header__content--portfolio {
    background: url('../img/@1x/slide13.jpg');
}

.webp .header__content--blog {
    background: url('../img/@1x/webp/slide7.webp');
}

.no-webp .header__content--blog {
    background: url('../img/@1x/slide7.jpg');
}



.header .header__slider .header__slider-item {
    height: 100%;
    background-position: center 25%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    // filter: grayscale(1) brightness(1.2);

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
    }
}

.header .slick-list {
    height: 100vh;
}

.header .slick-track {
    height: 100%;
}

.header__slider {
    height: 100vh;
    position: relative;
    z-index: 0;
}

.header__slider-item {
    height: 100%;
}

// .header .slick-dots {
//     position: absolute;
//         bottom: 80px;
//         left: 50%;
//         -webkit-transform: translateX(-50%);
//         transform: translateX(-50%);
// }

.header__slick-arrow {
    position: absolute;
    top: 70%;
    fill: $color-white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 2;
    padding: 10px;
    background: #EA5A4B;
    border-radius: 3px;
    transition: all .3s ease;
    margin-top: 50px;

    &:hover {
        fill: #EA5A4B;
        background: $color-white;
    }
}

.header__slick-arrow--left {
    left: 65px;
}

.header__slick-arrow--right {
    left: 115px;
}

.header {
    &__socials {
        min-height: 70px;
        padding: 15px;
        background: $color-black-light;
        position: relative;
    }

    &__top {
        min-height: 75px;
        padding: 10px;
    }

    &__content-desc-title {
        font-family: $HelveticaMedium;
        font-size: rem(52px);
        margin-bottom: 10px;
    }

    &__content-desc-text {
        font-family: $HelveticaRoman;
        font-size: rem(32px);
    }

    &__content {
        position: relative;
    }

    .header__content-mod {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 151px;
    }

    &__content-desc {
        position: absolute;
        top: 50%;
        left: 50px;
        transform: translateY(-50%);
        z-index: 2;
        color: $color-white;
        max-width: 650px;
        padding: 0 15px;
    }
}