.pjax-container .slick-list .slick-track .slider__item  {
    width: 75px;
    height: 75px;
    margin: 0 15px;
    // filter: grayscale(1) brightness(1.2);
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        filter: none;
    }
}

.pjax-container .slick-list .slick-track .slider__item .img  {
    height: 100%;
    object-fit: cover;
}

