// — Мобильники 320-767px — mobile, mobile-portrait, mobile-landscape
// — Планшеты 768-1023px — tablet, tablet-portrait, tablet-landscape
// — Лаптопы 1024-1199px — laptop, laptop-portrait, laptop-landscape
// — Десктопы >=1200px — desktop, desktop-portrait, desktop-landscape


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .modal {
        justify-content: center;
        align-items: center;

        &__content {
            margin: 0;
        }
    }

    .nav__logo {
        flex-grow: 0;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .nav__list {
        max-width: 100%;
    }

    .view-more {
        padding-right: 115px;
        background-size: 188px;
    }
}



/*==========  Desktop First  ==========*/

/* Large Devices, Desktops, Tablets landscape 992-1199 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width : 1199.98px) {

}


/* Medium Devices, Tablets portrait 768-991 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width : 991.98px) {
    .header,
    .header-home {
        display: block;
    }
}


/* Small Devices, Phones (landscape) 576-767 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width : 767px) {
    
}


/* Extra Small Devices, Phones (portrait) 480-575 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width : 575.98px) {
    .nav__top {
        flex-direction: column-reverse;;
    }
    .nav__logo {
        margin-left: 0;
        margin-top: 20px;
        transform: translateX(0);
    }
}


/* Extra Small more, Phones 320-479 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 479px) {
    
}


/* Custom, iPhone Retina 0 - 320 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width : 320px) {
    
}




/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width : 320px) {

}


/* Extra Small Devices more, Phones portrait 480-575 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width : 480px) {
    
}



/* Small Devices, Phones landscape 576-767 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width : 576px) {
    
}


/* Medium Devices, Tablets portrait 768px-991px */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width : 768px) {
    .header__view-catalog::before {
        left: 75%;
        bottom: -20px;
    }
}


/* Medium Devices, Tablets landscape 992px-1199px */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 992px) {

}

/* Large Devices, Desktops  1200+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 1200px) {
    
    .header__view-catalog::before {
        left: 100%;
        bottom: -20px;
        transform: translateX(-70%);
    }

    .header__view-catalog:hover::before,
    .header__view-catalog:focus::before,
    .header__view-catalog:active::before {
        transform: translate(-70%, 10px);
    }

    .secondary-headline--services {
        &::before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

//MS EDGE
@supports (-ms-ime-align:auto) {
    .slider-thumbs {
        display: inline-flex;
    }

    .tns-horizontal.tns-carousel.tns-no-subpixel > .tns-item {
        margin-right: 15px!important;
        margin-left: 0!important;
    }

    .form .edge-autoSuggestFieldFilled {
        background-color: transparent!important;
        color: #fff!important;
    }
}


