.slider-thumbs {
    width: 1124px;
    display: flex;
    justify-content: space-between;
    padding: 5px;

    &__item {
        width: 123px;
        height: 123px;
        margin-right: 15px;
        height: 100%;
    }

    .tns-nav-active {
        img {
            outline: 1px solid rgba(255,255,255, .5);
        }
    }
}

