.title {
    font-family: $ff-h1;
    font-size: rem($fsz-h1);
    color: $color-h1;
    letter-spacing: -0.04em;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.16);
    position: relative;
    margin-bottom: 35px;

    &::after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 140px;
        height: 25px;
        background: url('../images/shape.png') no-repeat;
    }
}